@font-face {
	font-family: 'inspire';
	src: url('InspireTWDC-Black.woff2') format('woff2');
	font-weight: 900;

  }

  @font-face {
	font-family: 'inspire';
	src: url('InspireTWDC-Heavy.woff2') format('woff2');
	font-weight: 700;

  }

  @font-face {
	font-family: 'inspire';
	src: url('InspireTWDC-Light.woff2') format('woff2');
	font-weight: 200;

  }

  @font-face {
	font-family: 'inspire';
	src: url('InspireTWDC-Roman.woff2') format('woff2');
	font-weight: 400;

  }

  @font-face {
	font-family: 'disneyfont';
	src: url('dlp_pep_font-webfont.woff') format('woff');

  }





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	--color-text:rgb(37 48 80);
	--color-background-sections:white;
	--color-button:rgb(0 75 234);
	--color-button-hoover:rgb(2 59 185);
	--color-background:rgb(235 235 235);
    --color-brons:rgb(138, 81, 70);
    --color-zilver:rgb(149, 153, 155);
    --color-goud:rgb(220, 169, 49);
    --color-hover-main-button: rgb(222, 222, 222);
}

/* HEADER IN DE MAIN */


main header section {
	position: relative;
}

main header p {
	position: absolute;
	inset: 1em;
	bottom:1.7em;
	font-size: 1.6em;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color-background-sections);
}

main header img:first-of-type {
	border-radius: 0 0 5em 5em;
	filter: brightness(60%);
	/* filter: saturate(80%); */
	/* filter: contrast(80%); */
}

main header img:nth-child(2) {
    display: none;
}


main > header {
	margin: 0;
	padding: 0;
	position: relative;

	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
}

main header > section {
	padding: 0em;
	margin: 0em;
}

main header ul {
	position: absolute;
	bottom:-5em;
	width: 95%;
	background-color: var(--color-background-sections);
	border-radius: .5em;
	padding:1em;

	margin-left: 1em;
	margin-right: 1em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	box-shadow: .1em .1em .1em grey;
}


main header li button {
	width: 12em;
	font-weight: 700;
	font-size: .7em;
}


main header ul img {
	width: auto;
	height: 4em;
	padding-bottom: 1em;
}

main header > img {
	width: 100%;
	height: auto;
	padding: 0em;
	margin: 0em;
}



/* SECTION TEKST */

main > section:first-of-type {
    text-align: center;
	margin-top: 7em;
}

section:nth-of-type(1) h2 {
    font-size: 1.5em;
    font-weight: 900;
}

section:nth-of-type(1) p {
    font-size: 1.2em;
}



/* JAARKAART SECTION BRONS */

section:nth-of-type(2) section:first-of-type {
    background-color: var(--color-background-sections);
    border-radius: 1em;
    margin: 0 0 0 6em;
    width: 18em;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(2) section:first-of-type img {
    height: 2.5em;
    width: 2.5em;
    padding: .4em;
    margin: .4em;
    background-color: var(--color-background-sections);
    border-radius: 3em;

    display: grid;
	place-items: center;
	margin: auto;
}

section:nth-of-type(2) section:first-of-type div {
    background-color: var(--color-brons);
    width: 95%;
    padding: .4em;
    margin: .5em;
    border-radius: .8em;
}




section:nth-of-type(2) section:first-of-type h3 {
    font-weight: 900;
    font-size: 1.3em;
    color: var(--color-text);
    margin: .6em 0 .6em 0;
    padding: 0;
}

section:nth-of-type(2) section:first-of-type p {
    font-weight: 700;
    font-size: 1em;
    margin: 0 0 .8em 0;
    padding: 0;
}





section:nth-of-type(2) section:first-of-type button:first-of-type {
    width: 95%;
    background-color: var(--color-button);
    color: var(--color-background-sections);
    font-size: 1em;
    margin: 1em 0 0 0;

    transition: 1s;
}

section:nth-of-type(2) section:first-of-type button:first-of-type:hover {
    background-color: var(--color-button-hoover);
}





section:nth-of-type(2) section:first-of-type button:nth-of-type(2) {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:first-of-type button:nth-of-type(2):hover {
    background-color: var(--color-background);
}






section:nth-of-type(2) section:first-of-type button:nth-of-type(3) img {
    width: 2em;
    height: auto;
    background-color: var(--color-background-sections);

    transition: 1s;
}

section:nth-of-type(2) section:first-of-type button:nth-of-type(3) img:hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:first-of-type button:nth-of-type(3) {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:first-of-type.open button:nth-of-type(3) img{
    rotate:-180deg;
}

section:nth-of-type(2) section:first-of-type button:nth-of-type(3):hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:first-of-type li {
    display: flex;
	flex-direction: row;
	text-align: left;
    margin: 0;
    padding: 0 0 1.5em 0;

    font-weight: 700;
    font-size: .9em;
    color: var(--color-text);
}

section:nth-of-type(2) section:first-of-type li img {
    margin: 0;
    padding: 0 1em 0 1em;
    height: .8em;
    width: auto;
}



section:nth-of-type(2) section:first-of-type ul {
	display:none;
	width:100%;
	margin:0;
	padding:0 ;
	list-style:none;
	
    
}

section:nth-of-type(2) section:first-of-type.open ul {
	display:block;
    margin: 0;
    padding: 0;
}









/* JAARKAART SECTION ZILVER */

section:nth-of-type(2) section:nth-of-type(2) {
    background-color: var(--color-background-sections);
    border-radius: 1em;
    margin: 1em 0 0 6em;
    width: 18em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(2) section:nth-of-type(2) img {
    height: 2.5em;
    width: 2.5em;
    padding: .4em;
    margin: .4em;
    background-color: var(--color-background-sections);
    border-radius: 3em;

    display: grid;
	place-items: center;
	margin: auto;
}

section:nth-of-type(2) section:nth-of-type(2) div {
    background-color: var(--color-zilver);
    width: 95%;
    padding: .4em;
    margin: .5em;
    border-radius: .8em;
}





section:nth-of-type(2) section:nth-of-type(2) h3 {
    font-weight: 900;
    font-size: 1.3em;
    color: var(--color-text);
    margin: .6em 0 .6em 0;
    padding: 0;
}

section:nth-of-type(2) section:nth-of-type(2) p {
    font-weight: 700;
    font-size: 1em;
    margin: 0 0 .8em 0;
    padding: 0;
}





section:nth-of-type(2) section:nth-of-type(2) button:first-of-type {
    width: 95%;
    background-color: var(--color-button);
    color: var(--color-background-sections);
    font-size: 1em;
    margin: 1em 0 0 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(2) button:first-of-type:hover {
    background-color: var(--color-button-hoover);
}





section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(2) {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(2):hover {
    background-color: var(--color-background);
}






section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(3) img {
    width: 2em;
    height: auto;
    background-color: var(--color-background-sections);
}

section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(3) img:hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:nth-of-type(2).open button:nth-of-type(3) img{
    rotate:-180deg;
}

section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(3) {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(3):hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:nth-of-type(2) li {
    display: flex;
	flex-direction: row;
	text-align: left;
    margin: 0;
    padding: 0 0 1.5em 0;

    font-weight: 700;
    font-size: .9em;
    color: var(--color-text);
}

section:nth-of-type(2) section:nth-of-type(2) li img {
    margin: 0;
    padding: 0 1em 0 1em;
    height: .8em;
    width: auto;
}

section:nth-of-type(2) section:nth-of-type(2) ul {
	display:none;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	
    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(2).open ul {
	display:block;
}





/* JAARKAART SECTION GOUD */

section:nth-of-type(2) section:nth-of-type(3) {
    background-color: var(--color-background-sections);
    border-radius: 1em;
    margin: 1em 0 2.5em 6em;
    width: 18em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(2) section:nth-of-type(3) img {
    height: 2.5em;
    width: 2.5em;
    padding: .4em;
    margin: .4em;
    background-color: var(--color-background-sections);
    border-radius: 3em;

    display: grid;
	place-items: center;
	margin: auto;
}

section:nth-of-type(2) section:nth-of-type(3) div {
    background-color: var(--color-goud);
    width: 95%;
    padding: .4em;
    margin: .5em;
    border-radius: .8em;
}





section:nth-of-type(2) section:nth-of-type(3) h3 {
    font-weight: 900;
    font-size: 1.3em;
    color: var(--color-text);
    margin: .6em 0 .6em 0;
    padding: 0;
}

section:nth-of-type(2) section:nth-of-type(3) p {
    font-weight: 700;
    font-size: 1em;
    margin: 0 0 .8em 0;
    padding: 0;
    text-align: center;
}





section:nth-of-type(2) section:nth-of-type(3) button:first-of-type {
    width: 95%;
    background-color: var(--color-button);
    color: var(--color-background-sections);
    font-size: 1em;
    margin: 1em 0 0 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(3) button:first-of-type:hover {
    background-color: var(--color-button-hoover);
}





section:nth-of-type(2) section:nth-of-type(3) button:nth-of-type(2) {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(3) button:nth-of-type(2):hover {
    background-color: var(--color-background);
}






section:nth-of-type(2) section:nth-of-type(3) button:last-of-type img {
    width: 2em;
    height: auto;
    background-color: var(--color-background-sections);
}

section:nth-of-type(2) section:nth-of-type(3) button:last-of-type img:hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:nth-of-type(3) button:last-of-type {
    font-weight: 700;
    font-size: 1em;
    color: var(--color-button);
    border-style: none;
    width: 95%;
    margin: .6em 0 .5em 0;

    transition: 1s;
}

section:nth-of-type(2) section:nth-of-type(3) button:last-of-type:hover {
    background-color: var(--color-background);
}

section:nth-of-type(2) section:nth-of-type(3) li {
    display: flex;
	flex-direction: row;
	text-align: left;
    margin: 0;
    padding: 0 0 1.5em 0;

    font-weight: 700;
    font-size: .9em;
    color: var(--color-text);
}

section:nth-of-type(2) section:nth-of-type(3) li img {
    margin: 0;
    padding: 0 1em 0 1em;
    height: .8em;
    width: auto;
}

section:nth-of-type(2) section:nth-of-type(3) ul {
	display:none;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	
    transition: 1s;
}

section:nth-of-type(2) section:last-of-type.open ul {
	display:block;
}




/* MAIN BUTTON */

main > button {
    border-radius: 3em;
    padding: 1em;
    border-color: var(--color-button);
    color: var(--color-button);
    font-weight: 700;
    font-size: .9em;
    padding: 1em 2em 1em 2em;
    
    transition: 1s;

    display: grid;
	place-items: center;
	margin: auto;
}

main > button:hover {
    background-color: var(--color-hover-main-button);
}



/* SECTION REDENEN */

section:nth-of-type(3) {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section:nth-of-type(3) h2 {
    font-weight: 900;
    font-size: 1.4;
}

section:nth-of-type(3) img {
    height: 7em;
    width: auto;
}

main > section:nth-of-type(3) p {
    width: 12.3em;
    font-weight: 900;
    margin-left: 1em;
    
    
    display: flex;
	flex-direction: column;
	align-items: center;
   
}




/* HOE WERKT HET */

section:nth-of-type(4) {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section:nth-of-type(4) h2 {
    text-align: center;
    font-weight: 900;
    font-size: 1.4;
    width: 100%;
}

section:nth-of-type(4) img {
    height: 6em;
    width: auto;
}

main > section:nth-of-type(4) p {
    width: 11em;
    font-weight: 900;
    margin-left: 1em;
    
    
    display: flex;
	flex-direction: column;
	align-items: center;
}




/* SECTION FAQ */

section:nth-of-type(5) h2 {
    text-align: center;
    font-weight: 900;
    font-size: 1.4;
}

section:nth-of-type(5) > section img {
   width: 1em;
   height: auto;
   
   transition: .5s;
}

section:nth-of-type(5) > section.open img {
    rotate: 180deg;
}

section:nth-of-type(5) > section p:first-child {
    font-weight: 900;
    font-size: 1em;
    text-align: left;
    padding: 1em 2em 1em 1em ;

    display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}

section:nth-of-type(5) > section p:last-child {
    display:none;
    font-weight: 500;
    font-size: .9em;
    text-align: left;
    padding: 1em 0em 1em 1em ;
    margin: 0;
}

section:nth-of-type(5) > section.open p:last-child {
    display: block;
}





section:nth-of-type(5) > section {
    background-color: var(--color-background-sections);
    border-radius: 1em;
    margin: 1em;
}



/* SECTION VEEL TEKST */
section:nth-of-type(6) {
    margin-top: 4em;
    margin-bottom: 5em;
}

main > section:nth-of-type(6) p{
    margin: 1em;
    text-align: center;
    font-size: .9em;
}

section:nth-of-type(6) a {
    color: var(--color-button);
    text-decoration: underline;
}


/* SECTION BETAALWIJZE */

main > section:nth-of-type(7) {
    background-color: var(--color-background-sections);
    margin-bottom: 2em;
}

main > section:nth-of-type(7) img {
    margin-top: 7em;
    width: 12em;
    margin-left: 2.5em;
}

main > section:nth-of-type(7) p:first-of-type img {
    height: .8em;
    width: auto;
    margin: 0 0 0 -.4em;
    padding: 0;
}

main > section:nth-of-type(7) p:first-of-type {
    font-weight: 700;
    font-size: .9em;
    margin-top: 1em;
    margin-bottom: .5em;
}

main > section:nth-of-type(7) p {
    margin: 0 0 0 3.1em;
    font-size: .8em;
    line-height: 1.5em;
}

main > section:nth-of-type(7) p:last-of-type {
    padding-bottom: 7em;
}

@media (min-width:60em) {

    main header img:first-of-type {
        display: none;
    }
    
    main header img:nth-child(2) {
        display: block;
        filter: brightness(60%);
        width: 100%;
        height: auto;
    }

    main header ul {
		position: absolute;
		bottom:1em;
		width: 28em;
		height: auto;
		background-color: var(--color-background-sections);
		border-radius: .5em;
		padding:1em;
		
	
		margin-left: 30em;
	
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		box-shadow: .1em .1em .1em grey;
	}

    /* JAARKAARTEN */

    main > section:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
        margin: auto;
    }

    section:nth-of-type(2) section {
        width: 18em;
        height: auto;
    }



    /* WAAROM KOPEN */


    main section:nth-of-type(3) > h2 {
        width: 100%;
        margin-top: 2em;
        text-align: center;
    }

    main section:nth-of-type(3) {
        display: flex;
        flex-direction: row;
    }


    /* FAQ */

    main > section:nth-of-type(5) {
        width: 55em;
        margin: auto;
    }

    section:nth-of-type(5) > section p:first-child {
        width: 53em;
        background-color: var(--color-background-sections);
        border-radius: .5em;
    }


    /* BETAALWIJZE */




    /* VEEL TEKST */

    main > section:nth-of-type(6) {
        width: 50em;
        padding-top: 5em;
        padding-bottom: 3em;
        margin: auto;
    }
}
