/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

section:nth-child(2) {
	text-align: center;
}

section:nth-child(4) {
	text-align: center;
}

section:nth-child(7) {
	text-align: center;
}

button {
	border-color: blue;
	color: blue;
	border-radius: 3em;
}
